
*{
	margin:0;
	padding:0;
}

*,*::after, *::befor{
	box-sizing: border-box;
}


.header-area{
	background-image: url(images/img.jpg);
	background-position: center;
	background-size: cover;
	height:840px;

}

/*.header{
	position:fixed;
}*/
.header img{
	margin-left:270px;
	margin-top:30px;
	margin-bottom:10px;
	color: #ffffff;
}

.header-bottom{
	text-align: center;
	justify-content: center;
	align-items: center;
	padding-top:200px;
}
.header-bottom h1{
	font-size:61px;
	font-weight: 500;
	color:rgb(255, 255, 255);
	font-family: 'Roboto', sans-serif;
	margin-top:30px;
}
.header-bottom button{
	width:180px;
	height:60px;
	background-color: #244d59;
	color:#ffffff;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
	margin-top:55px;
	border:none;
}
.header-bottom button:hover{
	background-color:rgb(0, 49, 64);
}

/*HEADER-AREA-END*/

.cards{
	margin-top:60px;
	border:none;
	margin-bottom:80px;
	margin-left: 25px;
	transition: 0.5s;
}
.cards:hover{
	transform:scale();
	box-shadow: 20px 20px 10px grey;
}
.cards:hover .cards img{
	
}
.cards img{
	height:350px;
}

.cards h5{
	color:#244d59;
}
.cards p{
	margin:20px 0;
	font-weight:bold;
	color:#244d59;
	font-size:18px;
}
.cards a{
	width:250px;
	height:50px;
	font-size: 18px;
	color:#ffffff;
	text-align: center;
	background-color: #244d59;
	padding-top:10px;
}
.cards a:hover{
	background-color: #212121;
	transition: 0.5s;
	opacity: 0.8;
}

/*CARD-AREA-END*/

.normal-area {
	background-image: url(images/img5.jpg);
	height:500px;
	background-position: center;
	background-size: cover;
}
.normal{
	margin-top:160px;
}
.normal h1{
	color:#ffffff;
	margin-bottom:30px;
}
.normal p{
	color:#ffffff;
}
.normal a{
	text-transform: uppercase;
	color:white;
	text-decoration: none;
	letter-spacing: 1px;
}
.normal hr{
	color:white;
	width:15%;
}

/*NORMAL-AREA-END*/


.collection-area{
	padding-top: 100px;
	padding-bottom: 100px;
}
.collection-area h1{
	text-align: center;
	padding-bottom: 50px;
}
.collection{
	position: relative;
}
.collection img{
	width:550px;
	height:610px;
	margin-left:80px;
	transition: 0.5s;
}
.collection h3{
	color:#ffffff;
}
.collection img:hover{
	transform:scale();
	
	box-shadow: 20px 20px 10px grey;
}

.collection button{
	width:200px;
	height:54px;
	font-size: 18px;
	color:#ffffff;
	text-align: center;
	background-color: #244d59;
	padding-top:3px;
	border:none;
}
.collection button:hover{
	background-color: #212121;
	transition: 0.5s;
	opacity: 0.8;
	color:#ffffff;
}
.collections{
	position: absolute;
	top:80%;
	left:20%;
}
.collection-1{
	margin-bottom: 30px;
	position: relative;
}
.collection-1 img{
	width:500px;
	height:290px;
	margin:0 auto;
	transition: 0.5s;
}
.collection-1 img:hover{
	transform:scale();
	
	box-shadow: 20px 20px 10px grey;
}

.collection-2{
	position: relative;
}
.collection-2 img{
	width:500px;
	height:290px;
	margin:0 auto;
	transform:scale(1);
	transition: 0.5s;
}
.collection-2 img:hover{
	transform:scale();
	
	box-shadow: 20px 20px 10px grey;
}
.collection-3{
	position: absolute;
	top:63%;
	left:7%;
}
.collection-3 h4{
	color:#Ffffff;
}
.collection-3 button{
	width:150px;
	height:44px;
	font-size: 18px;
	color:#ffffff;
	text-align: center;
	background-color: #244d59;
	padding-top:3px;
	border:none;
}
.collection-3 button:hover{
	background-color: #212121;
	transition: 0.5s;
	opacity: 0.8;
	color:#ffffff;
}

/*COLLECTION-AREA-END*/

.section-area{
	height:950px;
	background-color:#f1f2f6;
}
.section{

}
.section img{
	height:950px;
	width:100%;
}
.section-1{
	text-align: center;
	padding-top:400px;
}
.section-1 h2{
	font-weight:500;
	color:#244d59;
	margin-bottom:40px;
}
.section p{
	color:#003140;
	margin-bottom: 40px;
	font-size: 16px;
	font-family: Lato,sans-serif;
}
.section-1 button{
	width:180px;
	height:52px;
	font-size: 18px;
	color:#212121;
	text-align: center;
	background-color:transparent;
	padding-top:3px;
	border : 2px solid #212121;
	margin-top: 20px;
	font-weight:500;
	transition: 0.5s;
}
.section-1 button:hover{
	background-color: #244d59;
	color:#Ffffff;
}

/*SECTION-AREA-END*/

.group-area{
	background-color:#e0e6e5;
	height:380px;
}
.group-1{
	text-align: center;
	padding:100px 0 60px;
}
.group-2 img{
	width:60%;
}

/*GROUP-AREA-END*/

.blog-area{
	height:800px;
	padding-top:100px;
}
.blog-area h1{
	padding-bottom:30px;
	color:#244d59;
	font-size: 48px;
	font-weight: 500;
	font-family: Lora,serif;
}
.blog img{
	width:100%;
	text-align: center;
}
.blog p{
	margin-top:10px;
}
.blog h3{
	color:#244d59;
	font-size:26px;
	font-weight: 500;
	line-height: 1.32;
	background:transparent;
	padding-bottom: 20px;
}
.blog a{
	font-size:20px;
	color:#244d59;
	text-decoration: none;
	border-bottom: 1px solid #244d59;
	padding-bottom: 10px;
}
.blog{
	transition: 0.5s;
	height:500px;
}
.blog:hover{
	transform:scale();
	box-shadow:15px 15px 10px grey;
}

/*BLOG-AREA-END*/


.about-area h2{
	text-align: center;
	color:#244d59;
	font-size:36px;
	padding-bottom: 50px;
	font-weight:500;
}
.about img{
	width:95%;
}

/*ABOUT-AREA-END*/

.footer-area{
	height:500px;
	background-color:rgb(245, 245, 245);
}
.footer img{
	margin-bottom: 20px;
}
.footers{
	display: flex;
}
.footer{
	padding-top:80px;
	padding-left: 50px;
}
.footer-1{
	padding-top:70px;
	padding-left:120px;
	
}
.footer-1 p{
	font-size:22px;
	margin-left:27px;
}
.footer-1 ul li{
	list-style-type: none;
	margin-bottom:5px;
}
.footer-1 ul li a{
	text-decoration: none;
	color:rgb(36, 77, 89);
	font-size: 16px;
	font-weight:500;
	
}
.footer-2{
	padding-top:70px;
	padding-left: 120px;
	
}
.footer-2 p{
	font-size:22px;
	margin-left:27px;
}
.footer-2 ul li{
	list-style-type: none;
	margin-bottom:5px;
}
.footer-2 ul li a{
	text-decoration: none;
	color:rgb(36, 77, 89);
	font-size: 16px;
	font-weight:500;
	
}
.footer-area hr{
	margin-top:100px;
}

/*FOOTER-AREA-END*/
